body {
  background-color: #172d13;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-left-color: #09f;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: spin 1s ease infinite;
  justify-self: center;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
