form div {
  margin-top: 1rem;
}

.form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
  text-align: left;
}

input {
  padding: 0.4rem;
  width: 100%;
}

label,
input {
  font-size: 1.3rem;
  line-height: 1.2;
}
